* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width:320px) {
  .pagemain {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.pagemain {
  width: 100%;
}

.bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;

  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);

}

.bar li {
  list-style: none;
  padding: 20px 20px;
  margin: 5px;
}

.bar :nth-child(2) {
  margin-left: 15%;
}

.bar:nth-child(1) {
  background-color: transparent;
  font: 1em sans-serif;
  
}

.dropdown:hover,
li:hover {
  color: rgb(255, 196, 0);
  cursor: pointer;
}

.dropdown {
  margin: 0;

}

.dropdown li {
  display: inline-block;
}

.drp-cntnt {
  display: none;
  position: absolute;
  background-color: rgb(14, 67, 182);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

}

.drp-cntnt li {
  color: rgb(255, 255, 255);
  padding: 10px 16px;
  text-decoration: none;
  display: block;

}

.drp-cntnt li:nth-child(2) {
  margin-left: 0;
}

.drp-cntnt li:hover {
  background-color: transparent;
  color: rgb(255, 196, 0);
}

.dropdown:hover .drp-cntnt {
  display: block;
}

.herosection {
  width: 100%;
  height: 85vh;
  background-color: rgb(235, 243, 243);
  display: flex;
  text-align: center;
  box-shadow: 0px 8px 20px 0px black;
}

.hsleft {
  width: 0;
  height: 0;
}

.hsright {
  background-image: url("1.jpg");

  height: 100%;
  width: 100%;
  display: flex;
  background-position: center;
  border: 1px solid grey;
  background-size: cover;
  transition: 3s;
}

.hsright:hover {
  opacity: 0.9;
  height: 100%;
  width: 100%;
  display: flex;
  color: white;
  cursor: pointer;
  background-image: url(1h.jpg);
  background-position: center;
  border: 1px solid grey;
  background-size: cover;
  transition: 2s;
}

.hsrcontent {


  margin-top: 15%;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.hsrcontent>h1 {
  font-size: 60px;
  margin-left: 50%;
}

.hsrcontent>button {
  width: 20%;
  margin-top: 5%;
  padding: 12px;
  margin-left: 70%;
  border: none;

  background-color: white;
  color: rgb(0, 0, 0);
}

.wraper {
  background-image: url(2.jpg);
  background-position: top;
  background-size: cover;
  width: 100%;

  height: 50vh;
  display: flex;
  flex-direction: row;
}

.Layer {
  background-color: blue;
  width: 33.5%;
  height: 100%;
  opacity: 0.7;
  box-shadow: 0px 5px 20px 0px black;

}

.Lcntnt>h1 {
  margin-left: 5%;
  margin-top: 4%;
  color: white;

}

.Lcntnt>button {
  margin-left: 5%;
  margin-top: 4%;
  color: white;

}

.Lcntnt>p {
  margin-left: 5%;
  margin-top: 4%;
  color: white;

}

.Layer2 {
  background-color: rgb(5, 5, 122);

  width: 33.5%;
  height: 100%;
  opacity: 0.9;
  box-shadow: 0px 5px 16px 0px black;
}

.Layer3 {
  background-color: blue;
  width: 33.5%;
  height: 100%;
  opacity: 0.7;
  box-shadow: 0px 5px 16px 0px black;
}

.Lcntnt>button {
  font-size: 15px;
  color: white;
  padding: 12.24px 14.4px;
  /*margin-top: 50px;*/
  border: 1px solid white;
  background-color: transparent;
}

.Lcntnt>button:hover {
  border: none;
  cursor: pointer;
  background-color: rgb(255, 196, 0);
}

.imgpa {
  width: 100%;
  height: 70vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.imglft {
  background-image: url(3.jpg);
  background-position: center;
  background-size: cover;
  width: 40%;
  margin-left: 6%;
  background-color: white;
  height: 65vh;
}

.par8 {
  width: fit-content;
  height: 70vh;
  margin-top: 5%;
  margin-left: 6%;
}

.par8>h1 {

  font-size: 30px;
  color: black;
}

.par8>p {
  margin-top: 5%;
  margin-left: 10px;

  color: black;
}

.par8>h3 {
  margin-top: 5%;
  margin-left: 10px;

  color: black;
}

.par8>button {
  margin-top: 5%;
  font-size: 15px;
  color: rgb(15, 14, 14);
  padding: 12.24px 14.4px;
  margin-left: 5%;
  border: 1px solid rgb(12, 12, 12);
  background-color: transparent;
}

.par8>button:hover {
  border: none;
  cursor: pointer;
  background-color: rgb(27, 27, 25);
  color: white;
}

.upcrse {
  width: 100%;
  height: 20vh;
  text-align: center;

}

.upcrse>h1 {
  margin-top: 4%;
}

.upcrse>h4 {
  margin-top: 1%;
}

.upli {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 30%;
  margin-top: 1%;
}

.upli>li {
  margin-left: 3%;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.downcrse {
  width: 100%;
  height: 75vh;

  display: flex;

}

.down1 {
  width: 30%;
  height: 70vh;
  flex-direction: column;

  margin-left: 3%;
}

.up1 {
  width: 100%;
  height: 50%;
  background-image: url(5.jpg);
  background-size: cover;
  background-position: center;
}

.btn {
  padding: 5px 10px;
  margin-top: 48%;
  margin-left: 70%;
  background-color: blue;
  color: white;
  border: none;

}

.do1 {
  margin-top: 5px;
  margin-left: 5%;
}

.do1,
h2,
p {
  margin-top: 5px;
}

.do1 button {
  padding: 12.24px 14.4px;
  background-color: rgb(14, 14, 90);
  color: white;
  border: none;
  margin-top: 3%;
}

.do1 button:hover {
  cursor: pointer;
  background-color: rgb(255, 196, 0);
  color: white;
  border: none;

}

.down2 {
  width: 30%;
  height: 70vh;
  margin-left: 3%;

}

.up2 {
  width: 100%;
  height: 50%;
  background-image: url(6.jpg);
  background-size: cover;
  background-position: center;
}

.do2 {
  margin-top: 5px;
  margin-left: 5%;
}

.do2 button {
  padding: 12.24px 14.4px;
  background-color: rgb(255, 196, 0);
  color: white;
  border: none;
  margin-top: 3%;
}

.do2 button:hover {
  background-color: rgb(5, 5, 122);
  color: white;
  border: none;
  cursor: pointer;
}

.down3 {
  width: 30%;
  height: 70vh;
  margin-left: 3%;

}

.up3 {
  width: 100%;
  height: 50%;
  background-image: url(7.jpg);
  background-size: cover;
  background-position: center;
}

.teacher {
  width: 100%;
  height: 85vh;
background-color:rgb(247, 245, 245);
  display: flex;
  flex-direction: column;
}

.tch1 {

  width: 100%;
  height: 20vh;
  text-align: center;

}

.tch1>h1 {
  margin-top: 4%;
}

.tch1>h4 {
  margin-top: 1%;
}

.tch2 {
  display: flex;
  width: 100%;
  height: 60vh;
  flex-direction: row;

}

.tchrman {
  width: 30%;
  height: 60vh;
  margin-left: 2%;
  margin-top: 4%;

}

.tchr1 {
  width: 70%;
  height: 65%;
  margin-left: 2%;
  background-image: url(9.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 60%;
  border: 2px solid rgb(255, 196, 0);
}

.tchrd {
  margin-top: 10%;
  margin-left: 25%;

}

.tchr2 {
  width: 70%;
  height: 65%;
  margin-left: 2%;
  background-image: url(10.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 60%;
  border: 2px solid rgb(255, 196, 0);
}

.tchr3 {
  width: 70%;
  height: 65%;
  margin-left: 2%;
  background-image: url(11.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 60%;
  border: 2px solid rgb(255, 196, 0);
}

.tchr1:hover {
  background-color: blue;
  opacity: 0.5;
}

.tchr2:hover {
  background-color: blue;
  opacity: 0.5;
}

.tchr3:hover {
  background-color: blue;
  opacity: 0.5;
}

.Evnts {
  width: 100%;
  height: 90vh;
  background-color: rgb(34, 33, 33);
 
  text-align: center;
  margin-top: 2%;
}

.ev {
  width: 100%;
  height: 15vh;

  margin-top: 3%;
  color: white;
}
.ev h4{
  margin-top: 2%;
}
.hromain {
  width: 100%;
  height: 60vh;
  display: flex;


}

.hrosec1 {
  margin-left: 10%;
  margin-top: 2%;
  width: 40%;
  height: 50vh;
background-color:rgb(230, 225, 225);
  display: flex;
}
.hrosec1:hover{
transform: scale(0.9);
}
.hrosec2:hover{
  transform: scale(0.9);
  }
.hrosec2 {
  margin-left: 2%;
  margin-top: 2%;
  width: 40%;
  height: 50vh;
  background-color:rgb(230, 225, 225);
  display: flex;
}

.hrolft1 {
  width: 60%;
  height: relative;
  margin-top: 15%;
}
.hrolft1>button{
  padding: 10px 20px;
  border: 1px solid rgb(12, 12, 12);
  color: rgb(12, 12, 12);
  margin-top: 5%;
}
.hrolft1>button:hover{
  border: none;
  background-color: rgb(12, 12, 12);
  color: white;
  cursor: pointer;
}
.hrort1 {
  background-image: url(13.jpg);
  background-size: cover;
  background-position: center;
  width: 40%;
  height: relative;
}
.hrolft2 {
  width: 60%;
  height: relative;
  margin-top: 15%;
}
.hrolft2>button{
  padding: 10px 20px;
  border: 1px solid rgb(12, 12, 12);
  color: rgb(12, 12, 12);
  margin-top: 5%;
}
.hrolft2>button:hover{
  border: none;
  background-color: rgb(12, 12, 12);
  color: white;
  cursor: pointer;
}
.hrort2{
  background-image: url(12.jpg);
  background-size: cover;
  background-position: center;
  width: 40%;
  height: relative;
}
.endmn{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  background-color:black;
  
}
.end1 ul li{
  list-style: none;
  margin-top: 30px;
  margin-left: 30px;
  color: #fff;
}
.end2 ul li{
  list-style: none;
  margin-top: 30px;
  margin-left: 100px;
  color: #fff;
}
.end2 ul li:nth-child(1){
  border-bottom: 5px solid grey;
  width: fit-content;
}
.end3 ul li{
  list-style: none;
  margin-top: 30px;
  margin-left: 200px;
  color: #fff;
}
.end3 ul li:nth-child(1){
  border-bottom: 5px solid grey;
  width: fit-content;
}
.end4 ul li{
  list-style: none;
  margin-top: 30px;
  margin-left: 100px;
  color: #fff;
}
.end4 ul li:nth-child(1){
  border-bottom: 5px solid grey;
  width: fit-content;
}

.abwraper{
  background-image: url(14.jpg);
  background-position:center;
  background-size: cover;
  width: 100%;
background-size: cover;
  height: 50vh;
  display: flex;
}

.abLayer{
  background-color: rgb(26, 26, 29);
  width: 100%;
  height: 100%;
  opacity: 0.7;
  box-shadow: 0px 5px 20px 0px black;

}

.abLcntnt>h1{
  margin-left: 5%;
  margin-top: 4%;
  color: white;

}

.abLcntnt>p {
  margin-left: 5%;
  margin-top: 3%;
  color: white;

}
.about{
  display: flex;
  width: 100%;
height: 25vh;

margin-bottom: 3%;
text-align: center;
}
.ab1{
  padding: 5%;
  margin: auto;
}
.ab1:hover{
  transform: scale(0.9);
  cursor: pointer;
}
.and{
  height: 10%;
  margin-top: 4%;
 width: 100%;
} 
.and:hover{
  transform: scale(0.9);
 
  cursor: pointer;
}
.tehero{
  width: 100%;
  height: 50vh;

  text-align: center;
  display: flex;
 
}
.telft{
  width: 40%;
  height: 40vh;
  background-image: url(15.jpg);
  background-size: cover;
 margin-top: 3%;
  margin-left: 3%;
}
.terit{
  width: 40%;
  margin-top: 3%;
  margin-left: 3%;
  height: 40vh;
}

.hromain2{
  width: 100%;
  height: 60vh;
  display: flex;
margin-top: 0%;

}
.Evnt2{
  display: flex;
  flex-direction: column;
   text-align: center;
  width: 100%;
  height: 60vh;
}
